.field {
    display: flex;
    flex-direction: column
}

body {
    background: #B3CBC8;
    background: -moz-linear-gradient(left, #B3CBC8 0%, #CBC2A7 54%, #8BA599 100%);
    background: -webkit-linear-gradient(left, #B3CBC8 0%, #CBC2A7 54%, #8BA599 100%);
    background: linear-gradient(to right, #B3CBC8 0%, #CBC2A7 54%, #8BA599 100%);
}